{
  "bundles": ["admin", "admin-vue", "order-vue"],
  "variables": {},
  "development": {
    "url": "http://woo.local/",
    "port": 3000
  },
  "release": {
    "configWhitelist": ["variables"],
    "include": [
      "app/",
      "dist/",
      "languages/",
      "vendor/",
      "views/",
      "config.json",
      "LICENSE",
      "README.md",
      "readme.txt",
      "screenshot-1.png",
      "changelog.md",
      "*.php"
    ]
  }
}
