/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/admin.config.scss';
@import '~@styles/shared/_variables.scss';

/* ------------------------------------------------------------ *\
    Admin
\* ------------------------------------------------------------ */

/* ================= Anymarket dashicon ==========================*/

@font-face {
  font-family: 'anymarket';
  src: url('~@fonts/anymarket.eot');
  src: url('~@fonts/anymarket.eot?#iefix') format('embedded-opentype'),
    url('~@fonts/anymarket.woff') format('woff'),
    url('~@fonts/anymarket.ttf') format('truetype'),
    url('~@fonts/anymarket.svg#anymarket') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* stylelint-disable font-family-no-missing-generic-family-keyword */
.dashicons-anymarket::before {
  content: '\0041';
  display: inline-block;
  font-family: 'anymarket';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* stylelint-enable font-family-no-missing-generic-family-keyword */

#toplevel_page_anymarket {
  .wp-menu-image {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbWFkYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQyLjEgMjUuNyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDIuMSAyNS43OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzAwNzVCRTt9LnN0MXtmaWxsOiNFQjY2MDg7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTE4LjUsMjUuNmg1LjlsLTIuNy03LjdMMTguNSwyNS42eiBNMzMuMywwaC0zLjhMMjIsMTcuNGwyLjYsNy43bDEuNS0zLjdsNS0xMy4ybDQuMiwxMi44bDEuNSw0LjVoNS4zTDMzLjMsMHoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMjQuNSwyNS42TDE1LjcsMGgtNC42TDAsMjUuNmg2LjNjMS4zLTQuMiw1LjktNi44LDkuNi04LjRsMi42LDguNEgyNC41eiBNOS42LDE3LjRsMy42LTlsMi4zLDcuNEMxMy40LDE2LjMsMTEuNSwxNi44LDkuNiwxNy40Ii8+PC9zdmc+) !important;
  }
}

/* ================= Tooltip styles ================ */

.toplevel_page_anymarket {
  .tooltip {
    display: block !important;
    z-index: 10000;

    .tooltip-inner {
      background: black;
      color: white;
      border-radius: 16px;
      padding: 5px 10px 4px;
    }

    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: black;
      z-index: 1;
    }

    &[x-placement^='top'] {
      margin-bottom: 5px;

      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &[x-placement^='bottom'] {
      margin-top: 5px;

      .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &[x-placement^='right'] {
      margin-left: 5px;

      .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &[x-placement^='left'] {
      margin-right: 5px;

      .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &.popover {
      $color: #f9f9f9;

      .popover-inner {
        background: $color;
        color: black;
        padding: 24px;
        border-radius: 5px;
        box-shadow: 0 5px 30px rgba(black, 0.1);
      }

      .popover-arrow {
        border-color: $color;
      }
    }

    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.15s, visibility 0.15s;
    }

    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.15s;
    }
  }
}
