/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/admin.config.scss';
@import '~@styles/shared/_variables.scss';

/* ------------------------------------------------------------ *\
    Admin
\* ------------------------------------------------------------ */

/* ================= Anymarket dashicon ==========================*/

@font-face {
  font-family: 'anymarket';
  src: url('~@fonts/anymarket.eot');
  src: url('~@fonts/anymarket.eot?#iefix') format('embedded-opentype'),
    url('~@fonts/anymarket.woff') format('woff'),
    url('~@fonts/anymarket.ttf') format('truetype'),
    url('~@fonts/anymarket.svg#anymarket') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* stylelint-disable font-family-no-missing-generic-family-keyword */
.dashicons-anymarket::before {
  content: '\0041';
  display: inline-block;
  font-family: 'anymarket';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* stylelint-enable font-family-no-missing-generic-family-keyword */

#toplevel_page_anymarket {
  .wp-menu-image {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbWFkYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDQyLjEgMjUuNyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDIuMSAyNS43OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzAwNzVCRTt9LnN0MXtmaWxsOiNFQjY2MDg7fTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTE4LjUsMjUuNmg1LjlsLTIuNy03LjdMMTguNSwyNS42eiBNMzMuMywwaC0zLjhMMjIsMTcuNGwyLjYsNy43bDEuNS0zLjdsNS0xMy4ybDQuMiwxMi44bDEuNSw0LjVoNS4zTDMzLjMsMHoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMjQuNSwyNS42TDE1LjcsMGgtNC42TDAsMjUuNmg2LjNjMS4zLTQuMiw1LjktNi44LDkuNi04LjRsMi42LDguNEgyNC41eiBNOS42LDE3LjRsMy42LTlsMi4zLDcuNEMxMy40LDE2LjMsMTEuNSwxNi44LDkuNiwxNy40Ii8+PC9zdmc+) !important;
  }
}

.cf-hidden {
  display: none;
}
